/* selettore universale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    height:70px;
    background-color: lightgrey;
}

.container-img {
    width: 245px;
    height: 63px;
    margin: auto;
    
}



